form {
    margin-top: 50px;
}

.uploadFile>input {
    display: none;
  }

.upBtn{
    margin-top: 50px;
}

input[type="number"] {
    border-radius: 4px;
    border: none;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
}

.mainDiv{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 100px;
}